<div class="w-full h-full flex flex-col justify-center items-center">
  <div
    class="faq-wrapper w-full max-w-[900px] rounded-xl shadow bg-white flex flex-col items-center justify-center py-12 px-5 md:px-10">
    <h1
      class="faq-title font-inter font-normal text-xl sm:text-2xl md:text-[2.125rem] text-center">
      Frequently asked questions
    </h1>

    <div class="faq">
      <div class="accordion-container">
        <div class="ac faq-q-1 mt-6 bg-transparent px-2">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              <div class="text-gray-650 font-semibold">
                How can I get technical support for Product Name?
              </div>
            </button>
          </h2>
          <div class="ac-panel lg:w-4/5">
            <p
              class="ac-text !px-0 !pb-5 !pt-0 !font-inter !text-sm !leading-[18px] !text-gray-650 !font-light">
              How can I get technical support? How can I get technical support?
              How can I get technical support? How can I get technical support?
            </p>
          </div>
        </div>
        <div class="ac faq-q-2 mt-6 bg-transparent px-2">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              <div class="text-gray-650 font-semibold">
                How can I get technical support for Product Name?
              </div>
            </button>
          </h2>
          <div class="ac-panel lg:w-4/5">
            <p
              class="ac-text !px-0 !pb-5 !pt-0 !font-inter !text-sm !leading-[18px] !text-gray-650 !font-light">
              How can I get technical support? How can I get technical support?
              How can I get technical support? How can I get technical support?
            </p>
          </div>
        </div>
        <div class="ac faq-q-3 mt-6 bg-transparent px-2">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              <div class="text-gray-650 font-semibold">
                How can I get technical support for Product Name?
              </div>
            </button>
          </h2>
          <div class="ac-panel lg:w-4/5">
            <p
              class="ac-text !px-0 !pb-5 !pt-0 !font-inter !text-sm !leading-[18px] !text-gray-650 !font-light">
              How can I get technical support? How can I get technical support?
              How can I get technical support? How can I get technical support?
            </p>
          </div>
        </div>
        <div class="ac faq-q-4 mt-6 bg-transparent px-2">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              <div class="text-gray-650 font-semibold">
                How can I get technical support for Product Name?
              </div>
            </button>
          </h2>
          <div class="ac-panel lg:w-4/5">
            <p
              class="ac-text !px-0 !pb-5 !pt-0 !font-inter !text-sm !leading-[18px] !text-gray-650 !font-light">
              How can I get technical support? How can I get technical support?
              How can I get technical support? How can I get technical support?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-footer flex items-center justify-center py-6 px-4">
      <div class="flex flex-col gap-4 text-center font-inter">
        <h3 class="font-bold text-xs">There are still questions ?</h3>
        <span class="text-xs font-light">Feel free to contact us</span>
        <button
          class="bg-primary-500 px-10 py-3 inline-flex font-inter text-lg rounded-md cursor-pointer text-white font-light">
          Contact us
        </button>
      </div>
    </div>
  </div>
</div>
