<footer class="w-full h-full text-start font-light bg-[#1E1E1E] text-white">
  <div class="px-5 md:px-20">
    Copyright © <span><%= new Date().getFullYear() %></span>
    -
    <span class="text-secondary transition">pedro5g</span>
  </div>
</footer>
