<header
  class="headline sticky top-0 left-0 w-full px-5 md:px-20 py-4 h-20 z-10">
  <div class="w-full flex items-center justify-between">
    <h1
      class="font-inter font-bold text-xl sm:text-3xl md:text-[40px] leading-none">
      LOGO
    </h1>
    <li class="flex items-center gap-2 md:gap-6">
      <ul>
        <a
          class="relative font-inter font-light text-xs md:text-base after:absolute after:-bottom-2 after:left-0 after:w-0 after:h-0.5 after:bg-white hover:after:w-full after:transition-all after:ease-in-out"
          href="#"
          >Contact Us</a
        >
      </ul>
      <ul>
        <a
          class="relative font-inter font-light text-xs md:text-base after:absolute after:-bottom-2 after:left-0 after:w-0 after:h-0.5 after:bg-white hover:after:w-full after:transition-all after:ease-in-out"
          href="#"
          >Frequently questions</a
        >
      </ul>
      <ul>
        <a
          class="relative font-inter font-light text-xs md:text-base after:absolute after:-bottom-2 after:left-0 after:w-0 after:h-0.5 after:bg-white hover:after:w-full after:transition-all after:ease-in-out"
          href="#"
          >Benefits</a
        >
      </ul>
      <ul>
        <a
          class="relative font-inter font-light text-xs md:text-base after:absolute after:-bottom-2 after:left-0 after:w-0 after:h-0.5 after:bg-white hover:after:w-full after:transition-all after:ease-in-out"
          href="#"
          >Home</a
        >
      </ul>
    </li>
  </div>
</header>
